name: glass_kit
description: A package containing widgets to implement glass morphism in flutter apps.
version: 2.0.0-nullsafety.1
homepage: https://github.com/bharat-1809/glass_kit

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  assets:
    - assets/noise.png