name: CI

# Controls when the action will run.
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        channel: [stable, beta, dev]

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ matrix.channel }}

      - name: Install Dependencies
        run: flutter pub get

      - name: Format
        run: flutter format --dry-run --set-exit-if-changed .
       
      - name: Analyze
        run: flutter analyze --no-pub

      - name: Run Tests
        run: flutter test --no-pub --coverage

      - name: Upload coverage to Codecov
        if: ${{ matrix.channel == 'stable' }}
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage/lcov.info
