name: Update Golden Test Files
env:
  BOT_NAME: "CRED Bot"
  BOT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
  BRANCH_NAME: "bot/update_goldens"
  GH_TOKEN: ${{ github.token }}

on: workflow_dispatch

jobs:
  update_goldens:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: stable

      - name: Install Dependencies
        run: flutter pub get

      - name: Update golden files
        run: flutter test --update-goldens

      - name: Create PR
        run: |
          set -x
          set -e
          pwd
          ls -l
          git config --local user.email "$BOT_EMAIL"
          git config --local user.name "$BOT_NAME"
          echo ">>>>>>>>>>>>>>>>>>>>"
          echo $BRANCH_NAME
          echo ">>>>>>>>>>>>>>>>>>>>"
          git checkout -b $BRANCH_NAME
          git status
          git add test/golden
          git status
          git commit -m "chore: update golden test files"
          git status
          git push --set-upstream origin "$BRANCH_NAME" -f
          gh pr create -B $BRANCH_NAME -H main --title 'chore: update golden test files'
